@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --sidebar-bg: #1F2937;
  --sidebar-text: #FFFFFF;
  --accent-yellow: #F59E0B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-bg: var(--sidebar-bg);
  --color-sidebar-text: var(--sidebar-text);
  --color-accent-yellow: var(--accent-yellow);
  
  --font-sans: var(--font-poppins), var(--font-inter), ui-sans-serif, system-ui;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@media print {
  @page {
    margin: 0;
    size: auto;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  
  /* Utilities to hide things during print */
  .no-print {
    display: none !important;
  }
}
